*{
}

.uv_slide {
 height :270px;
 width :480px;
 display:block;
 overflow: hidden;
}

/*-- first --*/


.slide1 > img{
z-index:1;
}
.text1{
 color : green;
 font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(255,255,255,0.4);
 height :270px;
 width :480px;
 position :relative;
 top:-270px;
display:none;
}
.slider>.text1{
	-webkit-transition:display 2s;
	-o-transition:display 2s;
	-moz-transition:display 2s;
	transition:display 2s;
}
.slide1:hover>.text1{
	display:block;
}

/*-- second --*/

.text2{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(55,55,55,0.4);
height :270px;
width :480px;
position :relative;
top:-270px;
right:-480px;
-webkit-transition:right 2s;
-o-transition : right 2s;
-moz-transition : right 2s;
transition : right 2s;
overflow:hidden;
}

.slide2:hover>.text2{
	right:0px;
}

/*-- third --*/



.text3{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(255,255,255,0.4);
height :270px;
width :480px;
position :relative;
top:-270px;
right:480px;
-webkit-transition:right 2s;
-o-transition : right 2s;
-moz-transition : right 2s;
transition : right 2s;
overflow:hidden;
}

.slide3:hover>.text3{
	right:0px;
}

/*-- fourth --*/



.text4{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,255,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,255,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,255,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,255,55,0.4));
height :270px;
width :480px;
position :relative;
top:-270px;
z-index:-1;
-webkit-transition-duration:2s;
-o-transition-duration : 2s;
-moz-transition-duration : 2s;
transition-duration : 2s;
overflow:hidden;
}

.slide4:hover>.text4{
	display:block;
	z-index:1;
}	

/*-- fifth --*/



.text5{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
color:transparent;
height :270px;
width :480px;
position :relative;
top:-270px;
display:block;
-webkit-transition:z-index 2s,-webkit-transform 2s,color 2s;
transition:z-index 2s,transform 2s,color 2s;
-moz-transition:z-index 2s,-moz-transform 2s,color 2s;
-o-transition:z-index 2s,-o-transform 2s,color 2s;
overflow:hidden;
}

.slide5:hover>.text5{
	display:block;
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));	
}

/*-- sixth --*/


.char6{
 position:relative;
 top:-55%;
 right:-1%;
 color:black;
 font-size:18px;
}

.text6{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
height :270px;
width :480px;
position :relative;
top:-295px;
display:block;
-webkit-transform-origin-x:3%;
-webkit-transform:rotate(180deg);
-webkit-transition:-webkit-transform 1s,color 1s;
transform-origin-x:3%;
transform:rotate(180deg);
transition:transform 1s,color 1s;
-moz-transform-origin-x:3%;
-moz-transform:rotate(180deg);
-moz-transition:-moz-transform 1s,color 1s;
-o-transform-origin-x:3%;
-o-transform:rotate(180deg);
-o-transition:-o-transform 1s,color 1s;
overflow:hidden;
}

.slide6:hover>.text6{
	color:blue;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}

/*-- seventh --*/



.slide7>img{
-webkit-transition:-webkit-transform 1s;
transition:transform 1s;
-moz-transition:-moz-transform 1s;
-o-transition:-o-transform 1s;

}

.text7{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
color:transparent;
height :270px;
width :480px;
position :relative;
top:-270px;
display:block;
-webkit-transition:-webkit-transform 1s,color 1s;
transition:transform 1s,color 1s;
-o-transition:-o-transform 1s,color 1s;
-moz-transition:-moz-transform 1s,color 1s;

overflow:hidden;
}

.slide7:hover>img, .slide7:hover>.text7{
	display:block;
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
	background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
}
.slide7:hover>img{
	background:-webkit-linear-gradient(left,rgba(55,55,55,0),rgba(55,55,55,0));
	background:linear-gradient(to left,rgba(55,55,55,0),rgba(55,55,55,0));
	background:-o-linear-gradient(left,rgba(55,55,55,0),rgba(55,55,55,0));
	background:-moz-linear-gradient(left,rgba(55,55,55,0),rgba(55,55,55,0));
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}

/*-- eigth --*/



.slide8>img{
position:relative;
top:0px;
-webkit-transition:-webkit-transform 1s,top 1s;
transition:transform 1s,top 1s;
-moz-transition:-moz-transform 1s,top 1s;
-o-transition:-o-transform 1s,top 1s;
}

.text8{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:-1;
}

.slide8:hover>img{
	-webkit-transform:rotateX(180deg);
	-moz-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
	top:270px;
}

/*-- ninth --*/


.slide9>img{
position:relative;
top:0px;
-webkit-transition:-webkit-transform 1s,top 1s;
transition:transform 1s,top 1s;
-o-transition:-o-transform 1s,top 1s;
-moz-transition:-moz-transform 1s,top 1s;
}

.text9{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:-1;
}

.slide9:hover>img{
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	top:270px;
}

/*-- tenth --*/


.slide10>img{
position:relative;
left:0px;
-webkit-transition:-webkit-transform 1s;
transition:-webkit-transform 1s;
-moz-transition:-webkit-transform 1s;
-o-transition:-webkit-transform 1s;
}

.text10{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
position :relative;
top:-270px;
overflow:none;
display:none;
z-index:-1;
-webkit-transition:background 1s;
transition:background 1s;
-moz-transition:background 1s;
-o-transition:background 1s;
}

.slide10:hover>.text10{
 z-index:1;
 display:block;
 background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
}

.slide10:hover>img{
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
}

/*-- eleven --*/


.slide11>img{
position:relative;
top:0px;
-webkit-transition:-webkit-transform 1s,top 1s;
transition:transform 1s,top 1s;
-moz-transition:-o-transform 1s,top 1s;
-o-transition:-o-transform 1s,top 1s;
}

.text11{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:-1;
 background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
 background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
}

.slide11:hover>img{
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
	-moz-transform:rotateX(-180deg);
	-o-transform:rotateX(-180deg);
	top:-270px;
}

/* ---- twelth silde --- */


.slide12>img{
position:relative;
left:0px;
 -webkit-transform-origin-x:0%;
-webkit-transition:-webkit-transform 3s;
 transform-origin-x:0%;
transition:transform 3s;
 -moz-transform-origin-x:0%;
-moz-transition:-moz-transform 3s;
 -o-transform-origin-x:0%;
-o-transition:-o-transform 3s;
}

.text12{
color : green;
font-size:23px;
text-align:center; 
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
height :270px;
width :480px;
position :relative;
top:-270px;
overflow:none;
z-index:-1;
-webkit-transition:background 1s;
transition:background 1s;
-moz-transition:background 1s;
-o-transition:background 1s;
}

.slide12:hover>img{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	transform:rotateY(180deg);
}

/* ---- thirteenth silde --- */

.slide13>img{
position:relative;
left:0px;
-webkit-transition:-webkit-transform 1s,left 1s;
transition:transform 1s,left 1s;
-moz-transition:-moz-transform 1s,left 1s;
-o-transition:-o-transform 1s,left 1s;
}

.text13{
color : green;
font-size:23px;
text-align:center; 
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
height :270px;
width :480px;
position :relative;
top:-270px;
overflow:none;
z-index:-1;
}

.slide13:hover>img{
	-webkit-transform:rotateY(180deg);
	transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-o-transform:rotateY(180deg);
	left:-500px;
}

/* ---- fourteenth silde --- */

.slide14>img{
position:relative;
left:0px;
-webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
}

.text14{
color : green;
font-size:23px;
text-align:center; 
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
height :270px;
width :480px;
position :relative;
top:-270px;
overflow:none;
z-index:-1;
}

.slide14:hover>img{
-webkit-transform:scale(0);
transform:scale(0);
-moz-transform:scale(0);
-o-transform:scale(0);
}

/*--- fifteenth --- */


.slide15>img{
position:relative;
top:0px;
z-index:-1;
}

.text15{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-540px;
overflow:none;
display:block;
z-index:1;
-webkit-transform:rotateX(-180deg);
-webkit-transition: all 0.5s ease-in 0.5s;
transform:rotateX(-180deg);
transition: all 0.5s ease-in 0.5s;
-moz-transform:rotateX(-180deg);
-moz-transition: all 0.5s ease-in 0.5s;
-o-transform:rotateX(-180deg);
-o-transition: all 0.5s ease-in 0.5s;
}

.slide15:hover>.text15{
	-webkit-transform:rotateX(-360deg);
	transform:rotateX(-360deg);
	-moz-transform:rotateX(-360deg);
	-o-transform:rotateX(-360deg);
	top:-270px;
}

/*--- sixteenth --- */


.slide16>img{
position:relative;
top:0px;
z-index:-1;
}

.text16{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:1;
-webkit-transition: all 0.5s ease-in;
-webkit-transform:scale(0);
transition: all 0.5s ease-in;
transform:scale(0);
-moz-transition: all 0.5s ease-in;
-moz-transform:scale(0);
-o-transition: all 0.5s ease-in;
-o-transform:scale(0);
}

.slide16:hover>.text16{
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
}

/*--- seventeenth --- */


.slide17>img{
position:relative;
top:0px;
z-index:-1;
-webkit-transition:all 0.3s ease-in;
transition:all 0.3s ease-in;
-moz-transition:all 0.3s ease-in;
-o-transition:all 0.3s ease-in;
}

.text17{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:1;
-webkit-transition: all 0.3s ease-in;
-webkit-transform:scale(0);
transition: all 0.3s ease-in;
transform:scale(0);
-moz-transition: all 0.3s ease-in;
-moz-transform:scale(0);
-o-transition: all 0.3s ease-in;
-o-transform:scale(0);
}
.slide17:hover>img{
	-webkit-transform:scale(40);
	transform:scale(40);
	-moz-transform:scale(40);
	-o-transform:scale(40);
}
.slide17:hover>.text17{
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
}

/*--- eighteenth --- */


.slide18>img{
position:relative;
top:0px;
z-index:-1;
-webkit-transition:all 0.3s ease-in;
transition:all 0.3s ease-in;
-moz-transition:all 0.3s ease-in;
-o-transition:all 0.3s ease-in;
}

.text18{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
height :270px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:1;
-webkit-transition: all 0.3s ease-in;
-webkit-transform:scale(0);
transition: all 0.3s ease-in;
transform:scale(0);
-moz-transition: all 0.3s ease-in;
-moz-transform:scale(0);
-o-transition: all 0.3s ease-in;
-o-transform:scale(0);
}
.slide18:hover>img{
	-webkit-transform:scale(2);
	transform:scale(2);
	-moz-transform:scale(2);
	-o-transform:scale(2);
}
.slide18:hover>.text18{
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
}

/*--- nineteenth --- */


.slide19>img{
position:relative;
top:0px;
z-index:-1;
-webkit-transition:all 0.3s ease-in;
transition:all 0.3s ease-in;
-moz-transition:all 0.3s ease-in;
-o-transition:all 0.3s ease-in;
}

.text19{
color : white;
font-size:23px;
text-align:center; 
background: transparent\2;  
height :230px;
width :480px;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.7),rgba(55,55,55,0.7));
background:linear-gradient(to left,rgba(55,55,55,0.7),rgba(55,55,55,0.7));
background:-moz-linear-gradient(left,rgba(55,55,55,0.7),rgba(55,55,55,0.7));
background:-o-linear-gradient(left,rgba(55,55,55,0.7),rgba(55,55,55,0.7));
position :relative;
top:-250px;
overflow:none;
display:block;
z-index:2;
-webkit-transition: all 0.3s ease-in-out;
-webkit-transition-delay:0.3s;
-webkit-transform:rotateZ(-27deg) scale(0);
transition: all 0.3s ease-in-out;
transition-delay:0.3s;
transform:rotateZ(-27deg) scale(0);
-moz-transition: all 0.3s ease-in-out;
-moz-transition-delay:0.3s;
-moz-transform:rotateZ(-27deg) scale(0);
-o-transition: all 0.3s ease-in-out;
-o-transition-delay:0.3s;
-o-transform:rotateZ(-27deg) scale(0);
}

.slide19>#designa{
	position:relative;
	height: 270px;
	width: 550px;
	background:-webkit-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:linear-gradient(to left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:-moz-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:-o-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	top: -500px;
	z-index: 1;
	-webkit-transform-origin-x:0%;
	-webkit-transform-origin-y:100%;
	-webkit-transform:rotateZ(-90deg);
	-webkit-transition: all 0.3s ease-in;
	-webkit-transition-duration:0.3s;
	transform-origin-x:0%;
	transform-origin-y:100%;
	transform:rotateZ(-90deg);
	transition: all 0.3s ease-in;
	transition-duration:0.3s;
	-moz-transform-origin-x:0%;
	-moz-transform-origin-y:100%;
	-moz-transform:rotateZ(-90deg);
	-moz-transition: all 0.3s ease-in;
	-moz-transition-duration:0.3s;
	-o-transform-origin-x:0%;
	-o-transform-origin-y:100%;
	-o-transform:rotateZ(-90deg);
	-o-transition: all 0.3s ease-in;
	-o-transition-duration:0.3s;
}

.slide19>#designb{
	position:relative;
	height: 235px;
	width: 550px;
	background:-webkit-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:linear-gradient(to left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:-moz-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	background:-o-linear-gradient(left,rgba(200,100,100,0.4),rgba(200,100,100,0.4));
	top: -770px;
	right:70px;
	z-index: 1;
	-webkit-transform-origin-x:100%;
	-webkit-transform-origin-y:0%;
	-webkit-transform:rotateZ(-90deg);
	-webkit-transition: all 0.3s ease-in 0.3s;
	-webkit-transition-duration:0.3s;
	transform-origin-x:100%;
	transform-origin-y:0%;
	transform:rotateZ(-90deg);
	transition: all 0.3s ease-in 0.3s;
	transition-duration:0.3s;
	-moz-transform-origin-x:100%;
	-moz-transform-origin-y:0%;
	-moz-transform:rotateZ(-90deg);
	-moz-transition: all 0.3s ease-in 0.3s;
	-moz-transition-duration:0.3s;
	-o-transform-origin-x:100%;
	-o-transform-origin-y:0%;
	-o-transform:rotateZ(-90deg);
	-o-transition: all 0.3s ease-in 0.3s;
	-o-transition-duration:0.3s;
}
.slide19:hover>#designb ,.slide19:hover> #designa{
		-webkit-transform:rotateZ(-29deg);
		transform:rotateZ(-29deg);
		-moz-transform:rotateZ(-29deg);
		-o-transform:rotateZ(-29deg);
}
.slide19:hover>.text19{
	z-index:3;
	-webkit-transform:scale(1);
	transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
}

/*--- twenteenth --- */


.slide20>img{
position:relative;
top:0px;
z-index:-1;
}

.text20{
color : green;
font-size:23px;
text-align:center;   
height :270px;
width :480px;
background: transparent;
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:linear-gradient(to left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-moz-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
background:-o-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
position :relative;
top:-270px;
overflow:none;
display:block;
z-index:1;
-webkit-transform:rotateZ(0deg) scale(0);
-webkit-transition: all 0.3s ease-in-out;
transform:rotateZ(0deg) scale(0);
transition: all 0.3s ease-in-out;
-moz-transform:rotateZ(0deg) scale(0);
-moz-transition: all 0.3s ease-in-out;
-o-transform:rotateZ(0deg) scale(0);
-o-transition: all 0.3s ease-in-out;
}

.slide20:hover>.text20{
	-webkit-transform:rotateZ(360deg) scale(1);
	transform:rotateZ(360deg) scale(1);
	-moz-transform:rotateZ(360deg) scale(1);
	-o-transform:rotateZ(360deg) scale(1);
}
