*{
	margin:0px;
	padding:0px;
}
/*-- first --*/
.slide1 {
 height :270px;
 width :480px;
 display:block;
}
.slide1 > img{
z-index:1;
}
.text1{
 color : green;
 font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(255,255,255,0.4);
 height :270px;
 width :480px;
 position :relative;
 top:-270px;
display:none;
}
.slider>.text1{
	-webkit-transition:display 2s;
}
.slide1:hover>.text1{
	display:block;
}


/*-- second --*/

.slide2 {
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
}
.text2{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(55,55,55,0.4);
height :270px;
width :480px;
position :relative;
top:-270px;
right:-480px;
-webkit-transition:right 2s;
overflow:hidden;
}

.slide2:hover>.text2{
	right:0px;
}


/*-- third --*/

.slide3 {
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
 
}

.text3{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:rgba(255,255,255,0.4);
height :270px;
width :480px;
position :relative;
top:-270px;
right:480px;
-webkit-transition:right 2s;
overflow:hidden;
}

.slide3:hover>.text3{
	right:0px;
}


/*-- fourth --*/

.slide4 {
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
 
}

.text4{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,255,55,0.4));
height :270px;
width :480px;
position :relative;
top:-270px;
z-index:-1;
-webkit-transition-duration:2s;
overflow:hidden;
}

.slide4:hover>.text4{
	display:block;
	z-index:1;
}	


/*-- fifth --*/

.slide5 {
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
 
}

.text5{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
color:transparent;
height :270px;
width :480px;
position :relative;
top:-270px;
display:block;
-webkit-transition:z-index 2s,-webkit-transform 2s,color 2s;
overflow:hidden;
}

.slide5:hover>.text5{
	display:block;
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
	background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
}


/*-- sixth --*/

.slide6 {
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
}
.char6{
 position:relative;
 top:-55%;
 right:-1%;
 color:black;
 font-size:18px;
}

.text6{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
height :270px;
width :480px;
position :relative;
top:-290px;
display:block;
-webkit-transform-origin-x:3%;
-webkit-transform:rotate(180deg);
-webkit-transition:-webkit-transform 1s,color 1s;
overflow:hidden;
}

.slide6:hover>.text6{
	color:blue;
	-webkit-transform:rotate(360deg);
}


/*-- seventh --*/

.slide7{
 height :270px;
 width :480px;
 display:block;
 overflow:hidden;
 
}

.slide7>img{
-webkit-transition:-webkit-transform 1s;
}

.text7{
color : green;
font-size:23px;
text-align:center; 
background: transparent\9;  
color:transparent;
height :270px;
width :480px;
position :relative;
top:-270px;
display:block;
-webkit-transition:-webkit-transform 1s,color 1s;
overflow:hidden;
}

.slide7:hover>img, .slide7:hover>.text7{
	display:block;
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
	background:-webkit-linear-gradient(left,rgba(55,55,55,0.4),rgba(55,55,55,0.4));
}
.slide7:hover>img{
	background:-webkit-linear-gradient(left,rgba(55,55,55,0),rgba(55,55,55,0));
	z-index:1;	
	color:green;
	-webkit-transform:rotate(360deg);
}
